@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
body {
    font-size: 12pt;
}

p {
    /* color: white; */
}

h1 {
    font-family: 'Inter Semi Bold', sans-serif;
    font-size: 36pt;
}
main, header, footer, nav ul {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}
main {
    background-color: bisque;
}

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    background-image: url("../img/polacks.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
    opacity: 0.5;
}

header h1 {
    width:40rem;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.classname {
    color: #000000;
}

#idname {
    text-transform: uppercase;
}


.customers {
    color: #ffffff;
    background-color: black;
    margin: 20px;
}

button:hover {
    background-color: blanchedalmond;
    color: black;
    cursor: pointer;
}

#Burgers {
    margin: 20px;
    border: 10px solid #000000;
    padding: 10px;
}

#order\ button {
    margin: 5px;
}

.spaced {
    margin: 10px;
}